:root {
    --gray: rgba(131, 131, 131, 0.452);
    --white: rgba(255, 255, 255, 0.685);
    --black: rgba(0, 0, 0, 0.7);
    --brown: rgb(159, 115, 61);
}

h2{
    font-family:'Righteous', serif;
    font-size: 20px;
}

body{
    margin: 0;
    padding: 0;
    font-family:'Righteous', sans-serif;
    height: 100vh;
    background-image: url(https://static.vecteezy.com/system/resources/previews/006/915/118/original/minimalist-style-hand-painted-liquid-background-free-vector.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*Header y footer*/

header {
    width: 100%;
    left: 0;
    right: 0;
    position: fixed;
    background: white;
    margin-top: -90px;
    padding: 5px 0;
}

header .contenedor{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

nav .search {
    display: flex;
    flex-direction: row;
    order: 5;
    align-self: flex-end;
}

nav{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-between;
    
}

nav a, .desplegar{
    text-decoration: none;
    color: var(--black);
    font-size: 1em;
    margin: 0 1.5vw;
}

.desplegar { 
    display: flex;
    width: 30px;
    justify-content: center;
    height: 50%;
    position: sticky;
    color: var(--black);
}

.desplegar:hover{

  background-color: rgb(255, 255, 255);
  font-style: var(--black);
  height: 80vh;
  width: 30vw;
  position: absolute;
  border-radius: 40px;
  box-shadow: 5px 5px 10px black;
}

.contenedor {
 width: 90%;
 margin: auto;
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: sticky;
 top: 0;
 font-weight: bold;   
}

footer{
    background-color: var(--brown);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
    
/* Página de Login*/

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background:var(--gray);
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
}

.registrarse{
    margin: 30px 0;
    text-align: left;
    font-size: 16px;
    padding: 0 0 20px 40px;
    border-bottom: 1px solid rgb(136, 136, 136);
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

form .password1{
    position: relative;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: black;
    transform: translateY (50%);
    font-size:16px;
    pointer-events:none;
}

.password1 input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.password1 label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: black;
    transform: translateY (50%);
    font-size:16px;
    pointer-events:none;
}

.recordar{
    margin-bottom: 10px;
    color: black;
}

input[type="submit"]{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(56, 56, 56);
    background: rgba(38, 37, 37, 0.503);
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(233, 233, 233);
    cursor: pointer;
    outline: none;
}
.username span::before{
content: '';
position: absolute;
top: 40px;
left: 0;
width: 100%;
height: 2px;
background: rgba(99, 96, 96, 0.449);
}

.username span::before{
    width:100%;
}

.username input:focus ~ label,
.password input:focus ~ label{
    top: -15px;
    color:rgba(246, 234, 234, 0.452)
}

.checkbox{
    margin: -5px 0 20px 5px;
    color: rgb(55, 51, 51);
}

.recordar{
    margin: -5px 0 20px 5px;
    color: rgb(55, 51, 51);
    cursor: pointer;
}

.recordar:hover{
    text-decoration: underline;
}

/*Página de registro*/

.signup{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-45%, -50%);
    width: 800px;
    background:rgba(142, 142, 142, 0.452);
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    backdrop-filter:var(--blur);
}

.y{
    height: 200px;
    width: 200px;
    margin-top: 75px;
    margin-left: 25px;
    border-radius: 20px;
    position: relative;
}

.x{
    height: 100px;
    margin-left: 975px;
    margin-top: 550px;
    position: absolute;
    z-index: 2;
}

.registro{
    margin-left: 75px;
}

.signup h1{
    text-align: center;
    margin-left: 75px;
}

.signup form{
    margin-left: 25px;
    padding: 0 40px;
    box-sizing: border-box;
}

form .usuario{
    position: relative;
    margin: 30px 0;
}

.usuario input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.usuario label{
    position: absolute;
    top: -50%;
    left: 10px;
    color: black;
    transform: translateY (50%);
    font-size:16px;
    pointer-events:none;
}

form .password2{
    position: relative;
    margin: 30px 0;
}

.password2 input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.password2 label{
    position: absolute;
    top: -50%;
    left: 10px;
    color: black;
    transform: translateY (50%);
    font-size:16px;
    pointer-events:none;
}

form .correo{
    position: relative;
    margin: 30px 0;
}

.correo input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.correo label{
    position: absolute;
    top: -50%;
    left: 10px;
    color: black;
    transform: translateY (50%);
    font-size:16px;
    pointer-events:none;
}

input[type="text"]{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(56, 56, 56);
    background: rgba(38, 37, 37, 0.503);
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(233, 233, 233);
    cursor: pointer;
    outline: none;
}

input[type="email"]{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(56, 56, 56);
    background: rgba(38, 37, 37, 0.503);
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(233, 233, 233);
    cursor: pointer;
    outline: none;
}

input[type="password"]{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(56, 56, 56);
    background: rgba(38, 37, 37, 0.503);
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(233, 233, 233);
    cursor: pointer;
    outline: none;
}

.checkbox {
    margin: 30px 0;     
}

input[type="submit"]{
    width: 60%;
    height: 40px;
    border: 1px solid rgb(56, 56, 56);
    background: rgba(77, 76, 76, 0.65);
    margin-bottom: 20px;
    margin-left: 90px;
    border-radius: 20px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(233, 233, 233);
    cursor: pointer;
    outline: none;
}

.account, .login{
    margin-left: 50px;
}

.login{
margin-bottom: 40px;
}

/*pag prin*/

.imagen{
    background-image: url(https://cdn.shopify.com/s/files/1/0268/7978/7198/files/Slider_VOGUE_Cities_Paris_3_1944x.jpg?v=1676559477 );
    min-height: 80vh;  
    flex-direction: column;
    background-position: center center;
    background-size: cover;
    justify-content: space-between;
    margin-top: 90px;
}

article p{
    font-size: 35px;
    display: flex;
    justify-content: center;
}

aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2px;
    flex-wrap: wrap;
}

aside a{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 2px;
    z-index: -5;
}

.aa{
    height: 500px;
}

.aaa{
    height: 700px;
    
}

.image{
    border-radius: 15px;
    width: 300px;
    height: 475px;
    image-rendering: auto;
}

.imagen2{
    background-image: url(https://cdn.shopify.com/s/files/1/0556/2584/2854/files/chico_crema_hoodie_1944x.png?v=1678711598 );
    min-height: 70vh;  
    flex-direction: column;
    background-position: center center;
    background-size: cover;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

iframe{
    height: 150px;
    width: 150px;
}

.contacto{
    display: flex;
    flex-direction: column;
}

.contacto p{
    font-size: 23px;
}

.nosotros p{
    width: 300px;
    font-size: 18px;  
}

.nosotros a{
    font-size: 23px;
    text-decoration: none;
}

/*pag contacto*/

.us1{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: beige;
height: 30vh;
}

.us2 {
    display: flex;
    justify-content: row;
    margin: 50px 180px 50px 180px;
    text-align: right;
}

.us2 p{
    margin-right: 50px;
    margin-top: 20px;
}

.us3 {
    display: flex;
    justify-content: row;
    margin: 50px  180px 50px  180px;
}

.us3 p{
    margin-left: 50px;
    margin-top: 20px;
}

.nu{
    text-decoration: none;
    color: black;
}

/*Buscar*/

.nav input {
    outline: none;
    height: 30px;
    width: 50px;
    padding: 0 20px;
    border-radius: 40px;
    font-size: 15px;
    transition: all .7s ease;
    background-image: url(https://cdn-icons-png.flaticon.com/512/56/56936.png);
   color: black;
    background-size: 20px;
    background-repeat: no-repeat;
    background-color: var(--white);
    background-size: 20px;
    background-position: center ;
    border: none;
    width: 0; 
}

.nav input:focus{
    outline: none;
    width: 100px;
    background-position: left;
}
