:root {
    --yellow: #d1b45e;
    --green: #d6d76e;
    --brown: #271806;
    --gray: #7d7874;
    --white: #e5e5e5;
}

body {
    background-color: var(--gray);
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

/*Header*/

h2 {
    font-family: 'Righteous', serif;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Righteous', sans-serif;
    height: 100vh;
}

header {
    width: 100%;
    left: 0;
    right: 0;
    position: fixed;
    background: var(--white);
}

header .cabeza {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    padding: 15px 0;
}

nav {
    display: flex;
    align-items: start;
    padding-top: 10px;
    padding-left: 10px;
    justify-content: space-around;
}

nav a,
.desplegar {
    text-decoration: none;
    color: var(--black);
    font-size: 1em;
    margin: 0 1.5vw;
}

.desplegar {
    display: flex;
    width: 30px;
    justify-content: center;
    height: 50%;
    position: sticky;
    color: var(--black);
}

.desplegar:hover {

    background-color: var(--white);
    font-style: var(--black);
    height: 80vh;
    width: 30vw;
    position: absolute;
    border-radius: 40px;
    box-shadow: 5px 5px 10px black;
}

.cabeza {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    font-weight: bold;
}

/*Lo demás*/

.talla {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--white);
    border-radius: 20px;
    margin: 10px;
    margin-right: 2em;
}

.ropa {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-45%, -50%);
    width: 800px;
    background: var(--gray);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    backdrop-filter: var(--blur);
}

img {
    object-fit: contain;
    max-height: 180%;
    width: auto;
}

.imagen {
    height: 200px;
    width: 200px;
    margin-top: 75px;
    margin-left: 25px;
    border-radius: 20px;
    position: relative;
}



.contenido {
    margin-left: 75px;
    margin-right: 2em;
}

.ropa h1 {
    text-align: center;
    margin-left: 75px;
    margin-bottom: 50px;
}


input[type="submit"] {
    width: 60%;
    height: 40px;
    border: 1px solid var(--gray);
    background: var(--gray);
    margin-bottom: 20px;
    margin-left: 90px;
    border-radius: 20px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white);
    cursor: pointer;
    outline: none;
}

.nav input {
    outline: none;
    height: 30px;
    width: 50px;
    padding: 0 20px;
    border-radius: 40px;
    font-size: 15px;
    transition: all .7s ease;
    background-image: url(https://cdn-icons-png.flaticon.com/512/56/56936.png);
    color: var(--brown);
    background-size: 20px;
    background-repeat: no-repeat;
    background-color: var(--brown);
    background-size: 20px;
    background-position: center;
    border: none;
    width: 0;
}

.nav input:focus {
    outline: none;
    width: 100px;
    background-position: left;
}